*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', 'Poppins', sans-serif;;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(77, 43, 249);
    background: linear-gradient(260deg, rgb(77, 43, 249), #764ba2);
}


form {
    position: relative;
    display: block;
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
    backdrop-filter: brightness(40%);
    flex-direction : column;
    display: flex;
    gap: 5px;
    
}


h1{
    font-weight: normal;
    font-size: 50px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
    margin: 20px auto 15px auto;
    text-align: center;
    font-family: "Georgia", serif;
}

label{
    color: balck;
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    padding-left: 10px;
}
input{
    background: rgba(255, 255, 255, 0.3);
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    padding: 0px 20px;
    border: none;
    margin-bottom: 20px;
    color: white;
    transition: all 0.4s ease;
}

input:hover{
    transform: translateY(5px);
}

P{
    color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}

.cv-p{
    text-align: left; 
    font-family: 'Seoge UI' , sans-serif; 
    color: black;"
    font-size: 15px;
    font-weight: bold;
}

/*Login*/
.login{
    background: rgb(77, 43, 249);
    border: 1px solid black;
    width: 500px;
    height: 650px;
    background: url('pic1.jpg');
    color: antiquewhite;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.loginbtn{
    background: rgb(77, 43, 249);
    border-radius: 50px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    margin: 20px auto 15px auto;
    height: 52px;
    width: 85%;
    text-align: center;
    padding: 12px 30px;
    transition: all 0.3s ease;
    text-decoration: none; 
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}
.loginbtn:hover{
    transform: translateY(2px);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    background: #4030ff;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);

}

/*Welcome page*/
.Welcome{
    border: 1px solid black;
    width: 600px;
    height: 400px;
    background: url('pic1.jpg');
    color: antiquewhite;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
    background-size: cover;
    background-position: center;
    overflow: hidden; 
}   

/***********************************************************/
/*Register Form*/

.signup{
    background: rgb(77, 43, 249);
    border: 1px solid black;
    width: 500px;
    height: 650px;
    background: url('pic1.jpg');
    color: antiquewhite;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.75);
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.form-group{
    display: flex;
    width: 100%;
    justify-content: center;
    
}

.form-group label {
    flex: 1; 
    display: flex;
    flex-direction: row;
    position: relative;
}
.signin{
    color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}
.signin a{
    color: rgb(77, 43, 249);
    font-weight: bold;
    transition: 0.3s;
    font-size: 15px;
    margin-bottom: 20px;
    text-decoration: underline;
}
.btn-submit{
    background: rgb(77, 43, 249);
    border-radius: 50px;
    color: white;
    font-size: 15px;
    font-weight: 600;
    margin: 20px auto 15px auto;
    height: 52px;
    width: 85%;
    text-align: center;
    padding: 12px 30px;
    transition: all 0.3s ease;
    text-decoration: none; 
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}
.btn-submit:hover{
    transform: translateY(2px);
    box-shadow: 0;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    background: #4030ff;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);

}

